* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: hwb(263 15% 15%);
  --seccondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGray: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

body {
  color: var(--mainWhite);
  font-family: sans-serif;
  background: var(--bodyColor);
  position: relative;
}

nav {
  position: relative;
}

.navbar {
  background-color: var(--seccondaryColor);
  width: 100%;
  padding: 10px;
  color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title {
  color: var(--mainBlack);
  font-weight: 600;
  font-size: 18px;
}

.navbar-items {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-items i {
  font-size: 1.5rem;
  cursor: pointer;
}

.shop-icon {
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.navbar-items .counter {
  font-size: 9px;
  background: var(--mainRed);
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainWhite);
}
.our-product {
  margin: 30px auto;
  width: 30%;
  max-width: 1170px;
  padding: 10px 0;
}
.our-product h1 {
  margin: 30px 0;
  text-align: center;
  font-size: 27px;
  text-align: center;
  margin: 0 auto;
  color: var(--mainBlack);
  font-weight: 900;
}

.products {
  width: 100%;
  max-width: 1170px;
  text-align: center;
  color: var(--mainBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 100px;
  margin: 0 auto;
}

.product-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 30px;
  margin-top: 30px;
}

.single-product {
  position: relative;
  background: var(--mainWhite);
  border-radius: 10px;
  box-shadow: 1 1 10px rgb(0, 0, 0, 0.5);
  padding-bottom: 20px;
  max-width: 350px;
}

.product-img {
  border-radius: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.single-product .product-img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}

.product-title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
}

.product-caption {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  color: #555;
  margin-bottom: 10px;
}

.single-product button {
  outline: none;
  background: rgb(107, 38, 217, 0.1);
  color: var(--primaryColor);
  font-weight: 900;
  border: none;
  border-radius: 5px;
  padding: 7px 13px;
  font-size: 14px;
  margin: 10px 0;
}

.overlay {
  display: none;
}

.overlay-add {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.overlay-add img {
  width: 100px;
  height: 100px;
}

.nav-modal {
  background-color: var(--mainWhite);
  height: auto;
}

.close-modal {
  position: absolute;
  top: 1%;
  right: 2%;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
